In [22]:
import os
import pandas as pd

data_path = '/Users/sridattabudaraju/lab/data/'
df = pd.read_csv(data_path + "train_equal_species_ids.csv")

In [26]:
df["species"].replace(
            {
                "bottlenose_dolpin": "bottlenose_dolphin",
                "kiler_whale": "killer_whale",
                "pilot_whale": "short_finned_pilot_whale",
                "globis": "short_finned_pilot_whale",
            },
            inplace=True,
        )

In [25]:
df

                    image               species individual_id  k_fold  cat_id
0      00021adfb725ed.jpg    melon_headed_whale  cadddb1636b9       3       0
1      000562241d384d.jpg        humpback_whale  1a71fbb72250       1       1
2      0007c33415ce37.jpg    false_killer_whale  60008f293a2b       4       2
3      0007d9bca26a99.jpg    bottlenose_dolphin  4b00fe572063       0       3
4      00087baf5cef7a.jpg        humpback_whale  8e5253662392       2       4
...                   ...                   ...           ...     ...     ...
51028  fff639a7a78b3f.jpg                beluga  5ac053677ed1       2      96
51029  fff8b32daff17e.jpg  cuviers_beaked_whale  1184686361b3       1    1482
51030  fff94675cc1aef.jpg            blue_whale  5401612696b9       1    8220
51031  fffbc5dd642d8c.jpg                beluga  4000b3d7c24e       0   13202
51032  fffdcd42312777.jpg    bottlenose_dolphin  4ddb2eeb5efb       3    1700

[51033 rows x 5 columns]

In [15]:
df

                    image               species individual_id  k_fold  cat_id
0      00021adfb725ed.jpg    melon_headed_whale  cadddb1636b9       3       0
1      000562241d384d.jpg        humpback_whale  1a71fbb72250       1       1
2      0007c33415ce37.jpg    false_killer_whale  60008f293a2b       4       2
3      0007d9bca26a99.jpg    bottlenose_dolphin  4b00fe572063       0       3
4      00087baf5cef7a.jpg        humpback_whale  8e5253662392       2       4
...                   ...                   ...           ...     ...     ...
51028  fff639a7a78b3f.jpg                beluga  5ac053677ed1       2      96
51029  fff8b32daff17e.jpg  cuviers_beaked_whale  1184686361b3       1    1482
51030  fff94675cc1aef.jpg            blue_whale  5401612696b9       1    8220
51031  fffbc5dd642d8c.jpg                beluga  4000b3d7c24e       0   13202
51032  fffdcd42312777.jpg    bottlenose_dolphin  4ddb2eeb5efb       3    1700

[51033 rows x 5 columns]